@model WavePoetry.Model.Review


<div class="tabbable">

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Redirect)
        
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.TitleName)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TitleId, Model.Titles, new { @class = "chzn-select" })
            @Html.ValidationMessageFor(model => model.TitleId)
        </div>
        @Html.HiddenFor(model => model.TitleName)

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.ReviewerName)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ReviewerId, Model.Contacts, new { @class = "chzn-select" })
            @Html.ValidationMessageFor(model => model.ReviewerId)
        </div>
        @Html.HiddenFor(model => model.ReviewerName)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Venue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Venue)
            @Html.ValidationMessageFor(model => model.Venue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginalLink)
            @Html.ValidationMessageFor(model => model.OriginalLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CopyLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CopyLink)
            @Html.ValidationMessageFor(model => model.CopyLink)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.DateReviewed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateReviewed)
            @Html.ValidationMessageFor(model => model.DateReviewed)
        </div>

        <div class="editor-label">
            Review Text
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ReviewText)
            @Html.ValidationMessageFor(model => model.ReviewText)
        </div>

        <div class="form-actions">
            <div class=" pull-right">
                <a href="/Review/Search/" class="btn">Back to Review List</a>
                <button class="btn btn-primary" name="cmdSave" type="submit">Save</button>
            </div>
        </div>
    </fieldset>

</div>

<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chosen/ajax-chosen.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/chosen/chosen.css")" rel="stylesheet"  type="text/css" />
<script>

    $(document).ready(function () {
        // Init items
        $('#DateReviewed').datepicker();
        $("#ReviewText").cleditor({
            controls:     // controls to add to the toolbar
                          "undo redo | cut copy paste pastetext | print source"
        });


        $("#ReviewerId").ajaxChosen({
            type: 'GET',
            url: '/Contact/LookupAuthor',
            dataType: 'json'
        }, function (data) {
            var results = [];

            $.each(data, function (i, val) {
                results.push({ value: val.Id, text: val.DisplayName });
            });

            return results;
        });


        $("#TitleId").ajaxChosen({
            type: 'GET',
            url: '/Title/LookupTitle',
            dataType: 'json'
        }, function (data) {
            var results = [];

            $.each(data, function (i, val) {
                results.push({ value: val.TitleId, text: val.Title });
            });

            return results;
        });

    });

</script>
