@using WavePoetry.DataAccess
@model WavePoetry.Model.Shipment


<div class="tabbable">

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Redirect)
        
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.ShouldFollowUp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShouldFollowUp)
            @Html.ValidationMessageFor(model => model.ShouldFollowUp)
        </div>
        
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.TitleName)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TitleId, Model.Titles, new { @class = "chzn-select" })
            @Html.ValidationMessageFor(model => model.TitleId)
        </div>
        @Html.HiddenFor(model => model.TitleName)

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.ContactName)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ContactId, Model.Contacts, new { @class = "chzn-select" })
            @Html.ValidationMessageFor(model => model.ContactId)
        </div>
        @Html.HiddenFor(model => model.ContactName)

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Type, Model.Types, new { @class = "test" })
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, Model.StatusTypes, new { @class = "test" })
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
        
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.DateSent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateSent)
            @Html.ValidationMessageFor(model => model.DateSent)
        </div>
                
        <div class="form-actions">
            
            <div class=" pull-right">
                @if(Model.Redirect == "contact")
                {
                    <a href="/Contact/Edit/@Model.ContactId" class="btn" style="margin-left:5px;">Back to Contact</a>
                }
                else
                {
                    <a href="/Title/Edit/@Model.TitleId" class="btn">Back to Title</a>
                }
                <button class="btn btn-primary" name="cmdSave" type="submit">Save</button>
                
            </div>
            @if (Model.Id > 0)
            {  
                if (HttpContext.Current.Session["LoggedInUser"] != null)
                {
                    var user = (HttpContext.Current.Session["LoggedInUser"] as user);
                    if (user.is_admin)
                    {
                        @Html.ActionLink("Delete Shipment", "DeleteShipment", new { id = Model.Id, type = Model.Redirect, contactid = Model.ContactId, titleid = Model.TitleId })
          
                    }
                } 
            }
        </div>
    </fieldset>

</div>

<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chosen/ajax-chosen.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/chosen/chosen.css")" rel="stylesheet"  type="text/css" />
<script>

    $(document).ready(function () {
        // Init items
        $('#DateSent').datepicker();
        
        $("#ContactId").ajaxChosen({
            type: 'GET',
            url: '/Contact/LookupAuthor',
            dataType: 'json'
        }, function (data) {
            var results = [];

            $.each(data, function (i, val) {
                results.push({ value: val.Id, text: val.DisplayName });
            });

            return results;
        });


        $("#TitleId").ajaxChosen({
            type: 'GET',
            url: '/Title/LookupTitle',
            dataType: 'json'
        }, function (data) {
            var results = [];

            $.each(data, function (i, val) {
                results.push({ value: val.TitleId, text: val.Title });
            });

            return results;
        });


    });

</script>
